package marketing

import "go-on-rails/common"

templ protected_page(userEmail string) {
	@common.Base("Go on Rails") {
		<main class="container mx-auto px-4 py-4 space-y-6">
			<article class="lg:prose-xl prose">
				<h1>Protected page</h1>
				<p>Hello, <strong>{ userEmail }</strong>.</p>
			</article>
		</main>
	}
}
